.login{
  height: 100vh;
  background-color: #308475;
  display: flex;
  align-items: center;
  justify-content: center;
}

form{
  max-width: 450px;
  max-height: 516px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}

form div{
  display: flex;
  flex-direction: column;
}

form button{
  margin-top: 25px;
  background-color: #308475;
  color: #fff;
  border: 0;
  border-radius: 10px;
  width: 390px;
  height: 50px;
  padding: 15px 0px;
}

form input {
  width: 360px;
  height: 20px;
  background-color: #E2EEEC;
  border: 0;
  border-radius: 10px;
  padding: 15px;
  outline: none;
}

form label{
  color: #308475;
}

form a{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #308475;
  margin-top: 25px;
  text-decoration: none;
  max-width: 390px;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  transition: 0.3s;
}

form a:hover{
  background-color: #E2EEEC;

}
